{% extends 'main/layout.html' %}

{% block title %} Libcommend {% endblock %}

{% block content %}

    <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="p-4 shadow rounded bg-white" style="width: 400px;">

        <!-- Сообщения об ошибках -->
        {% for message in messages %}
        <small class="form-text text-danger d-block text-center mb-3">{{ message }}</small>
        {% endfor %}

        {% if form.non_field_errors %}
          <div class="text-danger mb-3">
            {% for error in form.non_field_errors %}
              <small>{{ error }}</small><br>
            {% endfor %}
          </div>
        {% endif %}

        <form method="POST" action="{% url 'users:signup' %}" class="text-center">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />

            {% for f in signup_form %}
            <div class="mb-3">
                <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                {{ f }}
                <div class="text-danger small">{{ f.errors }}</div>
            </div>
            {% endfor %}

            <input type="hidden" name="action" value="login">
            <button type="submit" class="btn user-btn w-100">Регистрация</button>
        </form>
    </div>
</div>

{% endblock %}