{% extends 'main/layout.html' %}
{% load static %}
{% block title %} Libcommend {% endblock %}

{% block user-info %}
    {% if user.is_authenticated %}
        {% include 'main/user-info.html' %}
    {% else %}
        {% include 'main/user-default.html' %}
    {% endif %}


{% endblock %}

{% block content %}
    <main class="book-main">
        <div>
          <h1>Пора почитать</h1>
          <p class="lead">Ищите и добавляйте книги в свой read-list</p>
            <div class="input-group book-search">
                <form action="{% url 'search' %}" method="GET" class="input-group d-flex align-items-center">
                    <input type="text" name="query" class="form-control" placeholder="Введите ваш запрос">
                    <div class="input-group-append">
                        <button type="submit" class="btn user-btn">
                            <img src="{% static 'images/Search.svg' %}" alt="Search" width="24" height="24">
                        </button>
                    </div>
                </form>
            </div>
        </div>
      </main>
<footer class="mt-auto text-white-50"></footer>
{% endblock %}