<!DOCTYPE html>
<html lang="ru" class="h-100" data-bs-theme="auto">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Maria Vasileva" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- font-family: 'Nunito', sans-serif; -->
</head>
<body class="d-flex h-100">
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
      <header>
        <nav
          id="book-nav"
          class="navbar navbar-expand-lg"
          aria-label="Thirteenth navbar example"
        >
          <div class="container-fluid">
            <div
              class="collapse navbar-collapse d-lg-flex justify-content-between"
              id="navbarsExample11"
            >
              <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'main/logo.svg' %}" alt="Logo" width="80" height="80" />
              </a>
              <ul class="navbar-nav col-lg-6 justify-content-lg-center">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}"
                    >Поиск книг</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'mybooks:index' %}">Мои книги</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">О нас</a>
                </li>
              </ul>

              <div class="d-flex align-items-center gap-3">
                {% if user.is_authenticated %}
                    {% include 'main/user-info.html' %}
                {% else %}
                    {% include 'main/user-default.html' %}
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
        <div  class="block-content py-2  h-100 flex-grow-1 d-flex flex-column">
            {% block content %} {% endblock %}
        </div>
    </div>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}/"></script>
    <script src="{% static 'libs/jquery/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'libs/jquery/jquery-ui.min.js' %}"></script>
    <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'css/script.js' %}"></script>
</body>
</html>



