<div
  class="modal fade"
  id="addReview-{{ r.isbn }}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <!-- <form
        class="row g-3"
        id="rating-form"
        data-action="{% url 'mybooks:save_rating' r.isbn %}"
      > -->
        <div class="modal-body">
          <div class="d-flex align-items-center mb-3 justify-content-center">
            <img src="{{ r.cover }}" alt="Book" />
          </div>

          {% csrf_token %}
          <div class="rate mt-3">
            <div class="label-rate">Общая оценка</div>
            <div class="rating general-rating">
              <input
                type="radio"
                name="general"
                value="5"
                id="1-5-{{ r.isbn }}"
              /><label for="1-5-{{ r.isbn }}">☆</label>
              <input
                type="radio"
                name="general"
                value="4"
                id="1-4-{{ r.isbn }}"
              /><label for="1-4-{{ r.isbn }}">☆</label>
              <input
                type="radio"
                name="general"
                value="3"
                id="1-3-{{ r.isbn }}"
              /><label for="1-3-{{ r.isbn }}">☆</label>
              <input
                type="radio"
                name="general"
                value="2"
                id="1-2-{{ r.isbn }}"
              /><label for="1-2-{{ r.isbn }}">☆</label>
              <input
                type="radio"
                name="general"
                value="1"
                id="1-1-{{ r.isbn }}"
              /><label for="1-1-{{ r.isbn }}">☆</label>
            </div>
          </div>

          <div class="rate mt-3">
            <div class="label-rate">Сюжет</div>
            <div class="rating plot-rating">
              <input
                type="radio"
                name="plot"
                value="5"
                id="2-5-{{ r.isbn }}"
              /><label for="2-5-{{ r.isbn }}">☆</label>
              <input
                type="radio"
                name="plot"
                value="4"
                id="2-4-{{ r.isbn }}"
              /><label for="2-4-{{ r.isbn }}">☆</label>
              <input
                type="radio"
                name="plot"
                value="3"
                id="2-3-{{ r.isbn }}"
              /><label for="2-3-{{ r.isbn }}">☆</label>
              <input
                type="radio"
                name="plot"
                value="2"
                id="2-2-{{ r.isbn }}"
              /><label for="2-2-{{ r.isbn }}">☆</label>
              <input
                type="radio"
                name="plot"
                value="1"
                id="2-1-{{ r.isbn }}"
              /><label for="2-1-{{ r.isbn }}">☆</label>
            </div>
          </div>

          <div class="rate mt-3">
            <div class="label-rate">Персонажи</div>
            <div class="rating characters-rating">
              <input
                type="radio"
                name="characters"
                value="5"
                id="3-5-{{ r.isbn }}"
              /><label for="3-5-{{ r.isbn }}">☆</label>
              <input
                type="radio"
                name="characters"
                value="4"
                id="3-4-{{ r.isbn }}"
              /><label for="3-4-{{ r.isbn }}">☆</label>
              <input
                type="radio"
                name="characters"
                value="3"
                id="3-3-{{ r.isbn }}"
              /><label for="3-3-{{ r.isbn }}">☆</label>
              <input
                type="radio"
                name="characters"
                value="2"
                id="3-2-{{ r.isbn }}"
              /><label for="3-2-{{ r.isbn }}">☆</label>
              <input
                type="radio"
                name="characters"
                value="1"
                id="3-1-{{ r.isbn }}"
              /><label for="3-1-{{ r.isbn }}">☆</label>
            </div>
          </div>

          <div class="rate mt-3">
            <div class="label-rate">Слог</div>
            <div class="rating style-rating">
              <input
                type="radio"
                name="style"
                value="5"
                id="4-5-{{ r.isbn }}"
              /><label for="4-5-{{ r.isbn }}">☆</label>
              <input
                type="radio"
                name="style"
                value="4"
                id="4-4-{{ r.isbn }}"
              /><label for="4-4-{{ r.isbn }}">☆</label>
              <input
                type="radio"
                name="style"
                value="3"
                id="4-3-{{ r.isbn }}"
              /><label for="4-3-{{ r.isbn }}">☆</label>
              <input
                type="radio"
                name="style"
                value="2"
                id="4-2-{{ r.isbn }}"
              /><label for="4-2-{{ r.isbn }}">☆</label>
              <input
                type="radio"
                name="style"
                value="1"
                id="4-1-{{ r.isbn }}"
              /><label for="4-1-{{ r.isbn }}">☆</label>
            </div>
          </div>

          <div class="mb-3">
            <textarea
              placeholder="Место для Вашей рецензии"
              class="form-control"
              name="review"
              id="review-{{ r.isbn }}"
              rows="5"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <a data-action="{% url 'mybooks:save_rating' r.isbn %}" class="btn user-btn save-rating">Сохранить</a>
        </div>
      <!-- </form> -->
    </div>
  </div>
</div>
