{% extends 'main/layout.html' %}
{% block title %} Libcommend {% endblock %}

{% block content %}

<main class="statistic-main">

    <div class="multiple-card-slider">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center gap-3">
          <div class="books-title">Прочитано</div>
          <a class="dot-n">{{ count_books }}</a>
        </div>
      </div>

      <div
        id="carouselExampleControls"
        class="carousel"
        data-bs-ride="false"
      >
        <div class="carousel-inner gap-2">
            {% for book in complete %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ book.cover }}" alt="{{ book.title }}" />
            </div>
            {% endfor %}
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span
            class="carousel-control-prev-icon"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span
            class="carousel-control-next-icon"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="d-flex align-items-center gap-3">
      <div class="books-title">Статистика</div>
    </div>

    <div class="d-flex gap-5 bottom-stats">
      <div>
        <div>Лучшая книга:</div>
        <div>Самая большая книга:</div>
        <div>Любимый писатель:</div>
      </div>

      <div>
        <div>{{ title_of_best_rating_book }}</div>
        <div>{{ title_of_max_pages_book }}</div>
        <div>{{ author }}</div>
      </div>

      <div class="d-none all-authors-count">{{ allAuthorsCount }}</div>
      <div id="chart"></div>
    </div>
  </main>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const validJSON = $('.all-authors-count').text().replace(/'/g, '"')
        const objAuthors = JSON.parse(validJSON)
        const total = Object.values(objAuthors).reduce((acc, curr) => acc + curr, 0)
        const series = []
        const labels = []

        const result = {};
        for (let author in objAuthors) {
            let percentage = Math.round((objAuthors[author] / total) * 100)
            series.push(percentage)
            labels.push(author)
        }

        if (document.querySelector("#chart")) {
        var options = {
            series: series,
            chart: {
              width: 500,
              type: "pie",
            },
            labels: labels,
            colors: ["#C2ACFF", "#8459FF", "#E0D6FF"],
            dataLabels: {
              enabled: false,
            },
            responsive: [
              {
                breakpoint: 480,
                options: {
                  chart: {
                    width: 200,
                  },
                  legend: {
                    position: "bottom",
                  },
                },
              },
            ],
          };
        
          var chart = new ApexCharts(document.querySelector("#chart"), options);
          chart.render();
        }
    })
</script>

{% endblock %}